{{ define "main" }}

<section class="section-index">
    <header>
        <h1>About me</h1>
    </header>
    <p>
        Software Engineer who likes golang.
    </p>
</section>

<section class="section-index">
    {{ with .Site.GetPage "/projects" }}
    <header>
        <h1>Latest projects <a href="{{.Permalink}}">See more</a></h1>
    </header>
    <dl>

        {{ range first 4 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <dt>
            <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
        </dt>
        <dd>
            {{ .Summary }}
        </dd>
        <br>
        {{ end }}
    </dl>

    {{ end }}
</section>


<section class="section-index">
    <header>
        <h1>Social networks</h1>
    </header>
    <ul>
        {{ range .Site.Params.socialnetworks}}
        <li><a href={{ .url }}> {{ .name }} </a></li>
        {{ end}}
    </ul>
</section>



{{ end }}